# Виртуальное окружение
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# VS Code
.vscode/
*.code-workspace

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.log
*.pot
*.pyc
.ipynb_checkpoints/